@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.font-pop {
    font-family: "Poppins", sans-serif;
}

.content-li {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
}
.content-li2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
.border-radius-10{
    border-radius: 10px;
}
.max-width-1140{
    max-width: 1140px !important;
}

.lorem-footer {
    max-width: 346px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #ffff;
}
.head-li {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}

.head-li2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}

.show-more-gallery {

    max-width: 43px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffff;
}
.show-more-gallery a{
    text-decoration: none;
    
    color: white;
}

.box-of-gallery-for-show-more {
    width: 100%;
    height: 100%;
    background: #18205C;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 13px;

}
ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    max-width: 553px;
}
.box2 {
    padding-left: 30px; 
     height: 116p;
    background: #F1F2F5;
    border-radius: 0px 20px 20px 20px;
}
.coment1 {
    padding-top: 30px;
    display: flex;
}
.modal-text {
    max-width: 100vh;
    border-radius: 20px;
    border: 1px;
}

.text-area {
    max-width: 1224px;
    width: 100%;
    border-radius: 35px;
    resize: none;
    height: 263px;
    padding: 15px 28px;
    margin-top: 14px;
}
.bor-der {
    border: 2px solid #9CA1BE;
    border-radius: 35px;
    align-items: center;
    padding: 7px;
}

.input-new {
    outline: none;
    border: none;
}

.btn-primary {
    width: 208px;
    height: 56px;
    top: 2651px;
    left: 1405px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 36px;
    opacity: 0px;
    color: white;
    background: #2C49FE;
    border: 2px solid #2C49FE;
}

.modal-input {
    width: 932px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid#9CA1BE;
    padding: 10px;
 
}

.numb {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
}

.box-img {
    width: 100px;
    background: #ffff;
    border-radius: 20px;
    bottom: 11px;
    right: 9px;

}

.logo {
    color: #2C49FE;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
}
.heading-f{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    }
header {
    box-shadow: 0px 8px 35px 0px #0000000D;
}

.navbar {
    box-shadow: 0px 8px 35px 0px #0000000D;

}
.btnn {
    background-color: red;
    width: 200px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.max-277 {

    max-width: 277px;
    width: 100%;
    border-radius: 35px !important;
    border: 1px solid #9CA1BE;
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.app {
    color: #01C8FF;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
}

.navbar-items {
    align-items: center;
    justify-content: center;

}

.Log-out {
    width: 118px;
    height: 46px;
    background: #2C49FE;
    border-radius: 23px;
    border: 2px solid #2C49FE;
}

.clr-6 {
    color: #666666;
}

.box-15 {
    width: 171px;
    border-radius: 20px;
    background: #EAEDFF;
}

.num {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #5E5F66;

}

.more {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.box {
    box-shadow: 1px 8px 35px 10px #0000000D;

    background: white;
    padding: 10px;
    width: 332px;
    box-shadow: 2px solid #EEEEEE;
    border-radius: 20px;

}

.s-para {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    max-width: 163px;
}

.gap-30 {
    gap: 30px;
}

.augue {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.followimg {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.new-post {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;

}


.big-box {
    max-width: 1319px;
    border-radius: 30px;
    box-shadow: 0px 8px 35px 0px #0000000D;
}
.box-user{
    max-width: 1319px;
border-radius: 35px;
border: 1px solid black;
}
@media (max-width:968px) {
    .navbar-items {
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-color: #1E71FF;
        position: fixed !important;
        top: 0;
        right: -100%;
        z-index: 4;
        transition: all 0.3s;
        height: 100vh;
    }

    label[for="menubar"] {
        width: 32px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        z-index: 5;
    }

    label[for="menubar"] span {
        width: 100%;
        height: 5px;
        margin: 2px 0;
        background-color: black;
        z-index: 5;
    }

    input[type="checkbox"]:checked~.navbar-items {
        right: 0;
    }
}
@media (max-width:576px) {
    .box-15{
        margin-left: 70px;
    }
 .svg-line{
    margin-left: 70px;
 }   
 .new-post{
    margin-left: 40px;
    justify-content: center;
 }
 .svg-s-footer{
    justify-content: center;
 }
 .content-li2{
    text-align: left;
 }
 .content-li{
    text-align: center;
 }
 .head-li{
    text-align: center;
 }
 .head-li2{
    margin-left: 20px;
 }
 .earth{
    width: 70px;
 }    
}
